Importing the Dependencies

In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('creditcard.csv', error_bad_lines=False)

b'Skipping line 3974: expected 31 fields, saw 40\n'

In [14]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [15]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
288789,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0.0
288790,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0.0
288791,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0.0
288792,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0.0
288793,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0.0

In [16]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288794 entries, 0 to 288793
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    288794 non-null  float64
 1   V1      288794 non-null  float64
 2   V2      288794 non-null  float64
 3   V3      288794 non-null  float64
 4   V4      288794 non-null  float64
 5   V5      288794 non-null  float64
 6   V6      288794 non-null  float64
 7   V7      288794 non-null  float64
 8   V8      288794 non-null  float64
 9   V9      288794 non-null  float64
 10  V10     288794 non-null  float64
 11  V11     288794 non-null  float64
 12  V12     288794 non-null  float64
 13  V13     288794 non-null  float64
 14  V14     288794 non-null  float64
 15  V15     288794 non-null  float64
 16  V16     288794 non-null  float64
 17  V17     288794 non-null  float64
 18  V18     288794 non-null  float64
 19  V19     288794 non-null  float64
 20  V20     288794 non-null  float64
 21  V21     288794 non-null  float64
 22  V22     288794 non-null  float64
 23  V23     288794 non-null  float64
 24  V24     288794 non-null  float64
 25  V25     288794 non-null  float64
 26  V26     288793 non-null  float64
 27  V27     288793 non-null  float64
 28  V28     288793 non-null  float64
 29  Amount  288793 non-null  float64
 30  Class   288793 non-null  float64
dtypes: float64(31)
memory usage: 68.3 MB

In [17]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [18]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    288300
1.0       493
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [19]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [20]:
print(legit.shape)
print(fraud.shape)

(288300, 31)
(493, 31)

In [21]:
# statistical measures of the data
legit.Amount.describe()

count    288300.000000
mean         87.945157
std         249.122058
min           0.000000
25%           5.550000
50%          21.990000
75%          76.790000
max       25691.160000
Name: Amount, dtype: float64

In [22]:
fraud.Amount.describe()

count     493.000000
mean      122.450101
std       256.477103
min         0.000000
25%         1.000000
50%         9.290000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [23]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,93577.500527,0.004598,-0.002116,0.023643,-0.006647,0.005933,0.006078,0.008924,-0.001374,0.012536,...,0.000121,-0.002028,-0.002372,-0.000391,0.000683,0.001048,-0.001260,0.000043,0.000012,87.945157
1.0,80592.070994,-4.766941,3.619996,-7.019744,4.537543,-3.146500,-1.395055,-5.556295,0.568669,-2.576371,...,0.370692,0.711544,0.012129,-0.039876,-0.105094,0.041048,0.050443,0.170309,0.075203,122.450101

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [24]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [25]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [26]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
246766,151644.0,-1.396369,0.287581,-0.714451,-0.434814,1.099719,-1.250225,0.575067,0.248665,-0.496608,...,0.413239,0.972539,-0.118448,-0.400185,-0.087721,-0.207995,-0.057105,0.100508,51.91,0.0
62575,48457.0,1.277559,0.202991,0.195142,0.307139,0.009001,-0.187960,-0.038737,-0.023031,-0.205068,...,-0.257055,-0.758185,0.018903,-0.493743,0.308541,0.127452,-0.031751,0.000970,0.89,0.0
256550,155868.0,1.633414,-1.052412,-0.732653,0.594801,-0.746452,-0.204006,-0.430376,0.019004,1.184460,...,0.281813,0.414359,0.039994,0.675559,-0.365060,0.310416,-0.063266,-0.006049,205.00,0.0
58420,46447.0,0.714288,-0.740207,0.812108,1.321403,-0.871945,0.320618,-0.373170,0.183617,0.599052,...,0.253775,0.258323,-0.221269,-0.303913,0.210101,-0.316253,0.032286,0.072083,234.91,0.0
242705,149789.0,-0.655241,0.515515,2.405354,-0.563940,-0.001571,0.485975,0.187783,0.033016,0.496349,...,-0.055700,0.000929,-0.339797,0.598613,0.165276,0.498941,-0.264538,-0.150071,8.99,0.0

In [27]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
283850,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1.0
284130,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1.0
284136,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1.0
285131,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1.0
285661,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1.0

In [28]:
new_dataset['Class'].value_counts()

1.0    493
0.0    492
Name: Class, dtype: int64

In [29]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,90825.971545,-0.183013,0.080132,0.111687,-0.057536,-0.000078,0.002306,0.064147,-0.001072,-0.038216,...,0.007940,-0.005590,0.045612,0.010399,0.046840,-0.013698,-0.030158,0.020276,-0.011454,86.433293
1.0,80592.070994,-4.766941,3.619996,-7.019744,4.537543,-3.146500,-1.395055,-5.556295,0.568669,-2.576371,...,0.370692,0.711544,0.012129,-0.039876,-0.105094,0.041048,0.050443,0.170309,0.075203,122.450101

Splitting the data into Features & Targets

In [30]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [31]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
246766  151644.0 -1.396369  0.287581 -0.714451 -0.434814  1.099719 -1.250225
62575    48457.0  1.277559  0.202991  0.195142  0.307139  0.009001 -0.187960
256550  155868.0  1.633414 -1.052412 -0.732653  0.594801 -0.746452 -0.204006
58420    46447.0  0.714288 -0.740207  0.812108  1.321403 -0.871945  0.320618
242705  149789.0 -0.655241  0.515515  2.405354 -0.563940 -0.001571  0.485975
...          ...       ...       ...       ...       ...       ...       ...
283850  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
284130  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
284136  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
285131  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
285661  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
246766  0.575067  0.248665 -0.496608  ... -0.150437  0.413239  0.972539
62575  -0.038737 -0.023031 -0.205068  ... -0.037273 -0.257055 -0.758185
256550 -0.430376  0.019004  1.184460  ...  0.162100  0.281813  0.414359
58420  -0.373170  0.183617  0.599052  ...  0.282701  0.253775  0.258323
242705  0.187783  0.033016  0.496349  ...  0.086508 -0.055700  0.000929
...          ...       ...       ...  ...       ...       ...       ...
283850 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
284130 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
284136 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
285131 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
285661  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
246766 -0.118448 -0.400185 -0.087721 -0.207995 -0.057105  0.100508   51.91
62575   0.018903 -0.493743  0.308541  0.127452 -0.031751  0.000970    0.89
256550  0.039994  0.675559 -0.365060  0.310416 -0.063266 -0.006049  205.00
58420  -0.221269 -0.303913  0.210101 -0.316253  0.032286  0.072083  234.91
242705 -0.339797  0.598613  0.165276  0.498941 -0.264538 -0.150071    8.99
...          ...       ...       ...       ...       ...       ...     ...
283850  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
284130 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
284136  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
285131 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
285661 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[985 rows x 30 columns]

In [32]:
print(Y)

246766    0.0
62575     0.0
256550    0.0
58420     0.0
242705    0.0
         ...
283850    1.0
284130    1.0
284136    1.0
285131    1.0
285661    1.0
Name: Class, Length: 985, dtype: float64

Split the data into Training data & Testing Data

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [34]:
print(X.shape, X_train.shape, X_test.shape)

(985, 30) (788, 30) (197, 30)

Model Training

Logistic Regression

In [35]:
model = LogisticRegression()

In [36]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [37]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [39]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9378172588832487

In [40]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [41]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9644670050761421